*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: cornflowerblue;
    font-family: "Madimi One", sans-serif;
}