*{
    margin: 0;
    padding: 0;
}

.buttonContainer{
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end; /* Alinhado à direita */
}

.button-70 {
  background-image: linear-gradient(#3373b8, #4c8ccf);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 10px 10px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#formRegistro {
    display: flex;
    flex-direction: column; /* Alterado para orientação vertical */
    align-items: flex-start; /* Alinhados à esquerda */
}

#formRegistro label,
#formRegistro input[type="text"] {
    width: 100%; /* Largura total */
}

